<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">
<head>
<link rel="stylesheet"
	href="https://stackpath.bootstrapcdn.com/bootswatch/4.5.2/cosmo/bootstrap.min.css" />
<script
	src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</head>
<body>
	<div align="center">
		<h1>Add/ Modify Books</h1>
		<form th:action="@{/save}" th:object="${book}" method="post">
			<input type="hidden" th:field="*{bookId}">
			<table>
						
				<tr>
					
					<td><label class="Form-label">Book Name</label></td>
					<td><input type="text" th:field="*{bookName}" placeholder="Enter book name"></td>
					
				</tr>
				
				<tr>
					
					<td><label class="Form-label">Author Name</label></td>
					<td><input type="text" th:field="*{authorName}" placeholder="Enter author name"></td>
					
				</tr>
				
				<tr>
					
					<td><label class="Form-label">Rack No.</label></td>
					<td><input type="text" th:field="*{rackNo}" placeholder="Enter rack number"></td>
					
				</tr>
				
				<tr>
					
					<td><label class="Form-label">In Stock</label></td>
					<td><input type="text" th:field="*{inStock}" placeholder="In Stock"></td>
					
				</tr>
			</table>
			
			<input type="submit" value="Add"/>			
			
		</form>
	</div>
</body>
</html>
	